<div class="page">
  <div class="subheader subheader-about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="headline">{{pages.blog.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-item">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="post-title" ng-show="language != 'en' || post.english.english_title == false">{{post.title}}</h1>
          <h1 class="post-title" ng-show="language == 'en' && post.english.english_title != false">{{post.english.english_title}}</h1>
          <div class="post-details">{{post.date | date:'dd MMM, yyyy'}} | {{post.date | date:'HH:mm'}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="post-content" ng-bind-html="post.content" ng-show="language != 'en' || post.english.english_title == false"></div>
          <div class="post-content" ng-bind-html="post.english.english_content" ng-show="language == 'en' && post.english.english_title != false"></div>
        </div>
      </div>
    </div>
  </div>
</div>