<div class="modal">
  <div class="modal-header">
    <h3 class="modal-title" ng-if="language != 'en' || event.english.english_title == false">{{event.title}}</h3>
    <h3 class="modal-title" ng-if="language == 'en' && event.english.english_title != false">{{event.english.english_title}}</h3>
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div translate="{{'PAGES.EVENTS.TEXT1'}}"></div>
    <div class="align-justify" ng-bind-html="$sce.trustAsHtml(content)"></div>
  </div>
</div>