<div class="modal">
  <div class="modal-header">
    <h3 class="modal-title" translate="{{'PAGES.SERVICES.BUTTON_SAMPLE'}}"></h3>
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body text-center">
    <img ng-src="{{root+'assets/img/samples.png'}}" width="100%"/>
    <a class="btn-border-dark btn-download" href="{{root+'downloads/etiqueta_para_envio_de_amostras.docx'}}" target="_blank" title="etiqueta.png" download="etiqueta.png">Baixar Etiqueta de Envio</a>
  </div>
</div>