<div class="modal">
  <div class="modal-header">
    <h3 class="modal-title" translate="{{'PAGES.SERVICES.BUTTON_SAMPLE'}}"></h3>
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body text-center">
    <img ng-src="{{root+'app/assets/img/samples.png'}}" width="100%"/>
    <a class="btn-border-dark" href="root+'app/assets/img/samples.png'" title="sample.png" download="sample.png">Baixar Etiqueta</a>
  </div>
</div>