<div class="modal">
  <div class="modal-header">
    <h3 class="modal-title" translate="{{'PAGES.SERVICES.TITLE_MODAL'}}"></h3>
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <iframe ng-if="page.id == 'biologia-celular' &&  (page.single == 'servicos' || page.single == 'services') && (page.item != 'leitor-de-placas' && page.item != 'microplate-reader' && page.item != 'analise-las-x-confocal' && page.item != 'las-x-confocal-analysis')" src="https://www.google.com/calendar/embed?src=lactad.formularios%40gmail.com&ctz=America/Sao_Paulo&mode=WEEK" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <iframe ng-if="page.id == 'biologia-celular' &&  (page.single == 'servicos' || page.single == 'services') && (page.item == 'leitor-de-placas' || page.item == 'microplate-reader')" src="https://calendar.google.com/calendar/embed?src=r399a0e2gocveskqmh4ku7jg4o%40group.calendar.google.com&ctz=America/Sao_Paulo" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <iframe ng-if="page.id == 'biologia-celular' &&  (page.single == 'servicos' || page.single == 'services') && (typeof page.item === 'undefined' || page.item == 'analise-las-x-confocal' || page.item == 'las-x-confocal-analysis')" src="https://calendar.google.com/calendar/embed?src=0an8t408edoopvssv8lo6plik8%40group.calendar.google.com&ctz=America/Sao_Paulo" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <iframe ng-src="{{iframe_url}}" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Carregando...</iframe>
  </div>
</div>