<div class="modal">
  <div class="modal-header">
    <h3 class="modal-title" translate="{{'PAGES.TERMS.NAME'}}"></h3>
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body" translate="{{'PAGES.TERMS.TEXT'}}"></div>
  <div class="modal-footer">
    <button type="button" class="btn-border-dark btn-proteomica" ng-click="close('Reject')" data-dismiss="modal" translate="{{'PAGES.TERMS.REJECT'}}"></button>
    <button type="button" class="btn-border-dark" ng-click="close('Accept')" data-dismiss="modal" translate="{{'PAGES.TERMS.ACCEPT'}}"></button>
  </div>
</div>