<div class="page">
  <section class="subheader subheader-about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="headline">{{'PAGES.ARTICLES.NAME' | translate}}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="clipping">
    <div class="container">
      <div class="row" ng-repeat="article in articles">
        <div class="clip clearfix">
          <div class="col-xs-12 col-sm-4 clip-image" ng-class="article.featured_image ? 'col-sm-4' : 'hidden'">
            <img ng-src="{{article.featured_image.source}}" height="50px">
          </div>
          <div class="col-xs-12" ng-class="article.featured_image ? 'col-sm-8' : 'col-sm-12'">
            <div class="post-date">{{article.date_published | date:'dd/MM/yyyy'}}</div>
            <a class="post-title" href="{{article.external_link}}" target="_blank">{{article.title}}</a>
            <div class="post-entry" ng-bind-html="(article.content | htmlToPlaintext | limitTo:100) + (article.content.length > 100 ? '...' : '')"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>