<div class="page">
  
    <section class="subheader subheader-about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="headline">{{pages.citation.name}}</div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="about">
      <div class="container">
        <h2>{{pages.citation.desc}}</h2>
        <div class="row">
          <div class="col-xs-12 align-justify" translate="{{'PAGES.CITATION.TEXT1'}}"></div>
        </div>
      </div>
    </section>
  
    <section class="financing">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 align-justify" translate="{{'PAGES.CITATION.TEXT2'}}"></div>
          <div class="col-xs-12 col-sm-6 align-justify" translate="{{'PAGES.CITATION.TEXT3'}}"></div>
        </div>
      </div>
    </section>
  
  </div>