<div class="page">
  <section class="subheader subheader-about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="headline">ERRO 404</div>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top: 20pt;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><b>Página não encontrada!</b> Por favor, utilize o menu de navegação acima para encontrar a página desejada.</p>
        </div>
      </div>
    </div>
  </section>
</div>