<div class="home">

  <section class="subheader">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 light">
          <div class="headline" translate="{{'PAGES.INDEX.HEADLINE'}}"></div>
          <div class="sub-headline" translate="{{'PAGES.INDEX.SUBHEADLINE'}}"></div>
          <a class="btn-border" ui-sref="app.page({ page: pages.about.slug, single: null })" translate="{{'PAGES.INDEX.BUTTON_ABOUT'}}"></a>
          <a class="btn-border" ui-sref="app.page({ page: pages.contact.slug, single: null })" translate="{{'PAGES.INDEX.BUTTON_CONTACT'}}"></a>
        </div>
        <div class="col-xs-12 col-sm-5"></div>
      </div>
    </div>
  </section>

  <section class="citation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a ui-sref="app.page({ page: pages.citation.slug, single: null })"><h4 class="sub-headline citation-headline">Saiba mais sobre como citar o LaCTAD em suas publicações <i class="fa fa-quote-left"></i><i class="fa fa-quote-right"></i></h4></a>
        </div>
      </div>
    </div>
  </section>

  <div ng-include src="root+'app/views/partials/news.html'"></div>

  <section class="statistics">
    <div class="container">
      <h2>LaCTAD <small translate="{{'PAGES.INDEX.TITLE1'}}"></small></h2>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="region" class="number">0</div>
            <div class="number-unit" translate="{{'PAGES.INDEX.TITLE2'}}"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="research" class="number">0</div>
            <div class="number-unit" translate="{{'PAGES.INDEX.TITLE3'}}"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="tera" class="number">0</div>
            <div class="number-unit" translate="{{'PAGES.INDEX.TITLE4'}}"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="courses" class="number">0</div>
            <div class="number-unit" translate="{{'PAGES.INDEX.TITLE5'}}"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>