<div class="home">

  <section class="subheader">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 light">
          <div class="headline">{{'PAGES.INDEX.HEADLINE' | translate}}</div>
          <div class="sub-headline">{{'PAGES.INDEX.SUBHEADLINE' | translate}}</div>
          <a class="btn-border" ui-sref="app.page({ page: pages.about.slug, single: null })" translate="{{'PAGES.INDEX.BUTTON_ABOUT'}}"></a>
          <a class="btn-border" ui-sref="app.page({ page: pages.contact.slug, single: null })" translate="{{'PAGES.INDEX.BUTTON_CONTACT'}}"></a>
        </div>
        <div class="col-xs-12 col-sm-5"></div>
      </div>
    </div>
  </section>

  <div ng-include src="root+'app/views/partials/news.html'"></div>

  <section class="statistics">
    <div class="container">
      <h2>LaCTAD <small>em números</small></h2>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="region" class="number">0</div>
            <div class="number-unit">Estados Atendidos</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="research" class="number">0</div>
            <div class="number-unit">Pesquisadores Satisfeitos</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="tera" class="number">0</div>
            <div class="number-unit">Terabases Sequenciadas</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="number-container">
            <div id="courses" class="number">0</div>
            <div class="number-unit">Cursos Oferecidos</div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>