<div ui-view>
  <section class="subheader {{page.id == 'biologia-celular' ? 'biocel' : (page.id == 'genomica' ? 'genomica' : (page.id == 'proteomica' ? 'proteomica' : (page.id == 'bioinformatica' ? 'bioinfo' : '')))}}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 light">
          <div class="headline" ng-if="page.single != 'servicos'">{{page.single}}</div>
          <div class="headline" ng-if="page.single == 'servicos'">Serviços</div>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container">
      <div class="row" ng-if="page.id == 'biologia-celular' &&  (page.single == 'servicos' || page.single == 'services')">
        <div class="col-xs-12">
          <div ng-if="language != 'en'">
             <p><font color="#FF0000" size=+1>A partir do dia 01/04/2019, para utilização dos serviços de Biologia Celular, é necessário fazer um cadastro no site. Com o cadastro realizado (uma única vez por usuário), todas as solicitações de serviços de Biologia Celular podem ser feitas fazendo o login no site.</font></p>
            <h3>Nossos custos de Biologia Celular – válidos a partir de 18/03/2019</h3>
            <table>
              <thead>
                <tr>
                  <th>Serviço</th>
                  <th>Acadêmico</th>
                  <th>Não Acadêmico</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HCS 96 wells (aquisição+análise usuário)**</td>
                  <td> R$ 854,86</td>
                  <td>R$ 1282,29</td>
                </tr>
                <tr>
                  <td>HCS 96 wells (aquisição+análise LaCTAD)* **</td>
                  <td>R$ 1586,38</td>
                  <td>R$ 2379,58</td>
                </tr>
                <tr>
                  <td>HCS 384 wells (aquisição+análise usuário)**</td>
                  <td>R$ 1549,96</td>
                  <td>R$ 2324,94</td>
                </tr>
                <tr>
                  <td>HCS 384 wells (aquisição+análise LaCTAD)* **</td>
                  <td>R$ 2976,58</td>
                  <td>R$ 4464,86</td>
                </tr>
                <tr>
                  <td>Leitor de Microplacas</td>
                  <td>R$ 95,84 / hora</td>
                  <td>R$ 143,76 / hora</td>
                </tr>
                <tr>
                  <td>Análise Software LAS X</td>
                  <td>R$ 26,61 / hora</td>
                  <td>R$ 39,92 / hora</td>
                </tr>
                <tr>
                  <td>Microscopia Confocal</td>
                  <td>R$ 154,61 / hora</td>
                  <td>R$ 231,91 / hora</td>
                </tr>
                <tr>
                  <td>Imunoensaio Multiplex</td>
                  <td>R$ 244,16 / placa</td>
                  <td>R$ 366,24 / placa</td>
                </tr>
                <tr>
                  <td>Citometria de Fluxo</td>
                  <td>R$ 143,38 / hora</td>
                  <td>R$ 215,07 / hora</td>
                </tr>
              </tbody>
            </table>
            <small>*Para a mesma análise em várias placas e ensaios de <i>time-lapse</i>, consulte-nos.<br>
	           **Para este serviço sugerimos a realização de uma placa teste. Consulte as condições.</small>
          </div>
          <div ng-if="language == 'en'">
             <p><font color="#FF0000" size=+1>From 01/04/2019, to use Cellular Biology services, it is necessary to make a registration on the website. With the registration made (once per user), all requests for Cellular Biology services can be made by logging into the site.</font></p>
            <h3>Costs of Cell Biology service - since March/2019</h3>
            <table>
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Academic</th>
                  <th>Not Academic (Company)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HCS 96 wells (Acquisition+user analysis)</td>
                  <td>R$  854,86</td>
                  <td>R$ 1282,29</td>
                </tr>
                <tr>
                  <td>HCS 96 wells (Acquisition+LaCTAD analysis)*</td>
                  <td>R$ 1586,38</td>
                  <td>R$ 2379,58</td>
                </tr>
                <tr>
                  <td>HCS 384 wells (Acquisition+user analysis)</td>
                  <td>R$ 1549,96</td>
                  <td>R$ 2324,94</td>
                </tr>
                <tr>
                  <td>HCS 384 wells (Acquisition+LaCTAD analysis)*</td>
                  <td>R$ 2976,58</td>
                  <td>R$ 4464,86</td>
                </tr>
                <tr>
                  <td>Microplate Reader</td>
                  <td>R$ 95,84 / hora</td>
                  <td>R$ 143,76 / hora</td>
                </tr>
                <tr>
                  <td>LAS X Confocal Analysis</td>
                  <td>R$ 26,61 / hora</td>
                  <td>R$ 39,92 / hora</td>
                </tr>
                <tr>
                  <td>Confocal Microscopy</td>
                  <td>R$ 154,61 / hora</td>
                  <td>R$ 231,91 / hora</td>
                </tr>
                <tr>
                  <td>Multiplex Immunoassay</td>
                  <td>R$ 244,16 / placa</td>
                  <td>R$ 366,24 / placa</td>
                </tr>
                <tr>
                  <td>Flow Citometry<</td>
                  <td>R$ 143,38 / hora</td>
                  <td>R$ 215,07 / hora</td>
                </tr>

              </tbody>
            </table>
            <small>* For the same analysis to many plates and <i>time-lapse</i> assays, contact us.</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="side-list" >
          <div class="col-xs-12 col-sm-4">
            <ul class="hide-medium sidemenu {{page.id == 'biologia-celular' ? 'biocel' : (page.id == 'genomica' ? 'genomica' : (page.id == 'proteomica' ? 'proteomica' : (page.id == 'bioinformatica' ? 'bioinfo' : '')))}}" ng-class="{'active' : !hasItem}">
              <li ng-if="language != 'en' || post.english.english_title == false" ng-repeat="item in items" ng-bind-html="item.title" ui-sref="app.page.single({ page: page.slug, single: page.single, item: item.slug })" ui-sref-active="active"></li>
              <li ng-if="language == 'en' && post.english.english_title != false" ng-repeat="item in items" ng-bind-html="item.english.english_title" ui-sref="app.page.single({ page: page.slug, single: page.single, item: item.english.english_slug })" ui-sref-active="active"></li>
            </ul>
            <div ng-show="items.length == 0">
              Nenhum item cadastrado no momento.
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 item-content">
            <div class="dropdown show-medium" ng-click="show = true">
              <div ng-if="language != 'en' || post.english.english_title == false" class="dropdown-text"><span style="color: {{page.color}}" ng-bind-html="activeItem.title"></span> <i class="fa fa-lg fa-angle-down pull-right"></i></div>
              <div ng-if="language == 'en' && post.english.english_title != false" class="dropdown-text"><span style="color: {{page.color}}" ng-bind-html="activeItem.english.english_title"></span> <i class="fa fa-lg fa-angle-down pull-right"></i></div>
              <ul class="dropdown-content" ng-show="show">
                <li ng-if="language != 'en' || post.english.english_title == false" ng-repeat="item in items" ng-bind-html="item.title" ui-sref="app.page.single({ page: page.slug, single: page.single, item: item.slug })" ui-sref-active="active"></li>
                <li ng-if="language == 'en' && post.english.english_title != false" ng-repeat="item in items" ng-bind-html="item.english.english_title" ui-sref="app.page.single({ page: page.slug, single: page.single, item: item.english.english_slug })" ui-sref-active="active"></li>
              </ul>
            </div>

            <h2 ng-if="language != 'en' || post.english.english_title == false" ng-bind-html="activeItem.title"></h2>
            <h2 ng-if="language == 'en' && post.english.english_title != false" ng-bind-html="activeItem.english.english_title"></h2>

            <div ng-if="page.single == 'servicos' || page.single == 'services'">
              <button class="btn-border-dark" ng-class="{'disabled' : !activeItem.iframe_url}" ng-if="activeItem.iframe_url && page.id != 'genomica' && page.id != 'bioinformatica' && page.id != 'biologia-celular' && page.id != 'proteomica'" ng-click="showModalTerms(activeItem.iframe_url, 'iframe')" translate="{{'PAGES.SERVICES.BUTTON_REQUEST'}}"></button> 
              <button class="btn-border-dark" ng-class="{'disabled' : !activeItem.iframe_url}" ng-if="activeItem.iframe_url && page.id == 'bioinformatica'" ng-click="showModalTerms(activeItem.iframe_url, 'iframe')" translate="{{'PAGES.SERVICES.BUTTON_REQUEST2'}}"></button> 
              <button class="btn-border-dark" ng-click="showModalTerms('http://www.lactad.unicamp.br/Genomica/cgi-bin/CadastraClientes.cgi?login_sistema=site', 'link')" translate="{{'PAGES.SERVICES.BUTTON_REGISTER'}}" ng-if="page.id == 'genomica' || page.id == 'biologia-celular' || page.id == 'proteomica'"></button>
               <button class="btn-border-dark" onClick="location='https://www.lactad.unicamp.br/Genomica/cgi-bin/login.cgi'" translate="{{'PAGES.SERVICES.BUTTON_LOGIN'}}" ng-if="page.id == 'genomica' || page.id == 'biologia-celular' || page.id == 'proteomica'"></button>


              <a class="btn-border-dark" href="https://www.lactad.unicamp.br/Genomica/cgi-bin/Estimador/EstimadorIllumina.cgi" target="_blank" ng-if="page.item == 'sequenciamento-de-nova-geracao'" translate="{{'PAGES.SERVICES.BUTTON_PRICE'}}"></a>
              <a class="btn-border-dark" href="https://www.lactad.unicamp.br/Genomica/cgi-bin/Estimador/EstimadorSanger.cgi" target="_blank" ng-if="page.item == 'sequenciamento-sanger-eletroforese-capilar'" translate="{{'PAGES.SERVICES.BUTTON_PRICE'}}"></a>
              <a class="btn-border-dark" href="https://www.lactad.unicamp.br/Genomica/cgi-bin/Estimador/EstimadorProteomica.cgi" target="_blank" ng-if="page.id == 'proteomica'" translate="{{'PAGES.SERVICES.BUTTON_PRICE'}}"></a>

              <!-- <a class="btn-border-dark" href="/estimativa" target="_blank" ng-if="page.id == 'genomica'" translate="{{'PAGES.SERVICES.BUTTON_PRICE'}}"></a> -->
              <!-- <button class="btn-border-dark" ng-click="showModalSample()" target="_blank" ng-if="page.id == 'genomica'" translate="{{'PAGES.SERVICES.BUTTON_SAMPLE'}}"></button> -->
            </div>

            <div class="item-image" ng-if="activeItem.image">
              <img ng-src="{{activeItem.image.sizes.medium}}" height="{{ activeItem.image.height <= 300 ? 'auto' : '300' }}" width="{{ activeItem.image.height <= 300 ? '100%' : 'auto' }}"/>
            </div>

            <div class="align-justify" ng-if="language != 'en' || post.english.english_title == false" ng-bind-html="activeItem.content"></div>
            <div class="align-justify" ng-if="language == 'en' && post.english.english_title != false" ng-bind-html="activeItem.english.english_content"></div>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>
