/* COLORS */
$color-text: #5E6869;
$color-text-light: #d9dcde;
$color-text-lightest: lighten(#ecf0f1, 3%);

$color-primary-light: #34495e;
$color-primary: #27ae60;
$color-secondary: #2c3e50;

$color-lactad: #2ecc71; //verde
$color-biocel: #f39c12; //laranja
$color-genomica: #3498db; //azul
$color-proteomica: #e74c3c; //vermelho
$color-bioinfo: #9b59b6; //roxo