/* GRID */
$grid-columns: 12 !default;
$grid-padding: 15px !default;
$grid-width: 970px !default;

/* BREAKPOINTS */
$grid-breakpoints: (
	'small': (max-width: 480px),
	'medium': (max-width: 800px),
	'large': (min-width: 1000px),
	'extra': (min-width: 1200px)
);

/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($grid-breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }
}

div {
  box-sizing: border-box;
}

.container {
  position: relative;
  z-index: 2;
}